@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;

:root {
	--background-color: #eeeeee;
	--text-color: #1a1a1a;
}


.dark-theme {
  font-size: 16px;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background: rgb(2, 11, 26);
    font-family: 'Rubik', sans-serif;
}

.navbar {
    position: fixed;
    background-color: $bg-primary;
    transition: width 600ms ease;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $text-primary;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $transition-speed;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $bg-secondary;
    color: $text-secondary;

    i {
        background: -webkit-linear-gradient(rgb(13, 160, 21), rgb(109, 245, 127));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .nav-link i {
    font-size: 1.7rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #6ad38d;
  }
  
  .fa-secondary {
    color: #57b939;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: $transition-speed;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: $text-secondary;
    background: $bg-secondary;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: $transition-speed;
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: $transition-speed;
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  

  
main {
    margin-top: 5rem;
    margin-left:5rem;

    hr {
      margin-top: 5rem;
      border:none;
      border-top: 0.2em solid rgb(2, 122, 22);
      border-radius: 5px;
      width:100%;
      max-width: 50em;
    }

    #home {
      display:flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .intro {
        .intro-img {
            img  {
                width: 50em;
                border-radius: 20px;
            }
        }

        .intro-text {
            margin-top: 2rem;
            max-width: 50em;
            color:rgb(188, 188, 188);
            
            h2 {
                font-size: 2em;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            p {
                font-size: 1.2em;
                max-width: 50rem;
                margin-bottom: 1rem;
            }

            button {
                background:green;
                padding:0.5rem 1.5rem;
                border:none;
                border-radius: 5px;
                color:white;
                font-family: 'Rubik', sans-serif;

                &:hover {
                    box-shadow: 0px 0px 30px rgba(0, 253, 42, 0.541);
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        .why-text {
          margin-top: 3rem;
          max-width: 50em;
          color:rgb(188, 188, 188);

          h2 {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 1rem;
            
          }

          p {
              font-size: 1.2em;
              max-width: 50rem;
              margin-bottom: 1rem;
          }
          
          img {
            width:100%;
            border-radius: 5px;
          }
        }
    }
  }

  #game {
    margin-top: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .intro-text {
      color:#b6b6b6;
      max-width: 50em;

      h2 {
        font-size: 2em;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      p {
          font-size: 1.2em;
          max-width: 50rem;
          margin-bottom: 1rem;
      }

      iframe {
        max-width: 50em;
        border-radius: 15px;
      }
    }
  
    .npc {
      margin-top: 2rem;
      color:#b6b6b6;
      display:flex;
      max-width: 50em;

      .npc-left {
        h2 {
          margin-bottom: 0.5rem;
        }
      }

      .npc-right {  
        max-width: 25em;
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;        
        }

        li {
          margin-left: 2rem;
          margin-bottom: 1rem;

          .npc-hover {
            img {
              cursor:pointer;
  
              &:after {
                content: attr(data-popuptext);
                background: rgba(255, 0, 0, 0.85);
                border-radius: 3px;
                opacity: 0;
                top: 0;
                left: 0;
                position: absolute;
                transition: 500ms ease;
                white-space: nowrap;
                max-height: 0;
              }
              
              &:hover:after {
                opacity: 1;
                top: 1.2em;
                max-height: 200px;
                padding: .4em;
              }
            }
          }
          img {
            cursor:pointer;

            &:after {
              content: attr(data-popuptext);
              background: rgba(255, 0, 0, 0.85);
              border-radius: 3px;
              opacity: 0;
              top: 0;
              left: 0;
              position: absolute;
              transition: 500ms ease;
              white-space: nowrap;
              max-height: 0;
            }
            
            &:hover:after {
              opacity: 1;
              top: 1.2em;
              max-height: 200px;
              padding: .4em;
            }

          }
        }
      }
    }

    .boss {
      margin-top: 2rem;
      color:#b6b6b6;
      display:flex;
      max-width: 50em;
      display: flex;
      flex-direction: column;
      
      ul {
        margin-top: 3rem;
        margin-bottom: 3rem;
        list-style-type: none;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:5px;
          color:rgb(7, 193, 38);
          
          img {
            width:5.5em;
            height: 5.5em;
            margin-bottom: 0.5rem;
          }

          .diff-bar {
            width:6em;
            height: 0.3em;
            border-radius: 5px;
          }


        }
      }

    }
  }

  #contact {
    margin-top: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .intro-text {
      color:#b6b6b6;
      max-width: 50em;

      h2 {
        font-size: 2em;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      p {
          font-size: 1.2em;
          max-width: 50rem;
          margin-bottom: 1rem;
      }

    }

    form {
      background: rgb(8,8,8);
      background: linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(54, 94, 5) 100%);
      border-radius: 5px;
      width:50em;
      padding:2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap:10px;

      .container {

        label {
          color: #b6b6b6;
          margin-bottom: 0.5rem;
        }
  
        input[type=text] {
          width:20em;
          background: #aaaaaa;
          padding:0.5rem;
          border-radius: 5px;
          font-family: 'Rubik', sans-serif;
          border:none;
          margin-bottom: 1rem;
  
          &:focus {
            outline:none;
            background:white;
          }
        }

        input[type=submit] {
          margin-top: 1rem;
          border:none;
          padding:0.5rem 1rem;
          border-radius: 5px;
          background-color: #aaaaaa;
          font-family: 'Rubik', sans-serif;
          cursor: pointer;

          &:hover {
            background-color: green;
            color:white;
          }
        }
  
  
        textarea {
          background: #aaaaaa;
          width: 100%;
          height: 10em;
          border:none;
          padding: 0.5rem;
          font-family: 'Rubik', sans-serif;
          border-radius: 5px;  
          resize: none;

          &:focus {
            outline:none;
            background:white;
          }
          
        }
  
        .name {
          display:flex;
          flex-direction: row;
          gap:8rem;
  
          .fname {
            display: flex;
            flex-direction: column;
          }
  
          .lname {
            display: flex;
            flex-direction: column;
          }
        }
  
        .email-phone {
          margin-top: 1rem;
          display: flex;
          flex-direction: row;
          gap:8rem;
  
          .email {
            display: flex;
            flex-direction: column;
          }
    
          .phone {
            display:flex;
            flex-direction: column;
          }
        }
  
        .message {
          display: flex;
          flex-direction: column;
        }

        .form-comment {
          margin-top: 1rem;
          color:#b6b6b6;
        }
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

@keyframes marquee{
  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}


  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    $text-primary: #b6b6b6;
    $text-secondary: #ececec;
    $bg-primary: #23232e;
    $bg-secondary: #141418;
  }
  
  .light {
    $text-primary: #1f1f1f;
    $text-secondary: #000000;
    $bg-primary: #ffffff;
    $bg-secondary: #e4e4e4;
  }
  
  .solar {
    $text-primary: #576e75;
    $text-secondary: #35535c;
    $bg-primary: #fdf6e3;
    $bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }