@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.dark-theme {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 11, 26);
  font-family: "Rubik", sans-serif;
}

.navbar {
  position: fixed;
  background-color: #23232e;
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  color: #ececec;
}
.nav-link:hover i {
  background: -webkit-linear-gradient(rgb(13, 160, 21), rgb(109, 245, 127));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link i {
  font-size: 1.7rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #6ad38d;
}

.fa-secondary {
  color: #57b939;
}

.fa-primary,
.fa-secondary {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #ececec;
  background: #141418;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

main {
  margin-top: 5rem;
  margin-left: 5rem;
}
main #home .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #home .intro .intro-img img {
  width: 50em;
  border-radius: 20px;
}
main #home .intro .intro-text {
  margin-top: 2rem;
  max-width: 80em;
  color: rgb(188, 188, 188);
}
main #home .intro .intro-text h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: bold;
}
main #home .intro .intro-text p {
  font-size: 1.2em;
  max-width: 50rem;
  margin-bottom: 1rem;
}
main #home .intro .intro-text button {
  background: green;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Rubik", sans-serif;
}
main #home .intro .intro-text button:hover {
  box-shadow: 0px 0px 30px rgba(0, 253, 42, 0.541);
  color: #fff;
  cursor: pointer;
}
main #home .intro .why-text {
  margin-top: 5rem;
  max-width: 80em;
  color: rgb(188, 188, 188);
}
main #home .intro .why-text .text-img-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
main #home .intro .why-text .text-img-container h2 {
  font-size: 2em;
  font-weight: bold;
  vertical-align: bottom;
}
main #home .intro .why-text .text-img-container img {
  display: none;
  width: 5em;
}
main #home .intro .why-text p {
  font-size: 1.2em;
  max-width: 50rem;
  margin-bottom: 1rem;
}
main #game {
  margin-top: 15rem;
}
main #game .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #game .intro .intro-text {
  color: #b6b6b6;
  max-width: 80em;
}
main #game .intro .intro-text h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: bold;
}
main #game .intro .intro-text p {
  font-size: 1.2em;
  max-width: 50rem;
  margin-bottom: 1rem;
}
main #game .npc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #game .npc .npc-list ul {
  display: flex;
  flex-direction: row;
}
main #game .npc .npc-list li {
  margin-right: 1rem;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
}
.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}/*# sourceMappingURL=index.css.map */